FEISHU_APP_ID=
FEISHU_APP_SECRET=
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
OPENAI_API_KEY=sk-proj--
OPENAI_API_BASE_URL=



# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres # Change this to your pwd